@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #2c3e50;
    background: #f6f6f6;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    background: url('../img/back-paper.png');
    background-size: contain;
    border-top: 22px solid rgb(192, 191, 189);
    border-radius: 10px;
}

.tickets-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 300px;
    text-align: center;
}

.ticket-button {
    height: 40px;
    padding: 0 15px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;

    float: Helvetica, sans-serif;
    font-weight: 500;
}

.add-btn {
    position: absolute;
    top: 0; 
    right: 0;
    cursor: pointer;
}

.tickets-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 60px;
    margin-bottom: 30px;
}

.ticket-item {
    box-sizing: border-box;
    border: 1px solid black;
    background: white;
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 2rem;
    padding: 5px;
    margin: 0;
    text-align: left;
    justify-content: space-between;
}

.ticket-item:nth-child(n+2) {
    border-top: none;
}

.check-btn {
    flex-shrink: 0;
    border: 1px solid black;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    margin-left: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.ticket-info {
    display: flex;
    flex-direction: column;
}

.ticket-summary {
    flex-grow: 1;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    width: 350px;
    display: inline-block;
    margin-right: 20px;
}

.ticket-details {
    display: none;
    margin-top: 10px;
    line-height: 1.2rem;
}

.ticket-data {
    flex-shrink: 0;
    margin-right: 30px;
}

.ticket-buttons {
    display: flex;
    flex-shrink: 0;
    gap: 20px;
}

.edit-btn {
    border: 1px solid black;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    cursor: pointer;
}

.delete-btn {
    border: 1px solid black;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    margin-right: 10px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
}

.popup {
    box-sizing: border-box;
    width: 400px;
    position: absolute;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 30px;

    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-add {
    display: none;
}

.popup-title {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}

.popup-field {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.field-label {
    margin-top: 10px;
    display: block;
}

.field-input-short {
    resize: none;
    width: 100%;
    margin-top: 10px;
}

.field-input-full {
    resize: none;
    min-height: 50px;
    width: 100%;
    margin-top: 10px;
}

.popup-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.popup-edit {
    display: none;
}

.popup-delete {
    display: none;
}

.popup-delete-desc {
    margin: 25px 0;
    text-align: left;
}